doctype html 
html
  head
    title Mann Dance Academy
    block scripts
    block style
  body content
    nav#navbar.top
      ul 
        div#logo
          img(src="/static/img/logo.png")
          | MDA 
        li #[a(href="/") Home]
        li #[a(href="/") About]
        li #[a(href="/") services]
        li #[a(href="/") Class]
        li #[a(href="/") Contact]
        
    block body
     footer#footer 
        | Copyright © 2022 MannDanceAcademy.com | All RIGHT RESERVED 